:root {
    --error-color: 240,128,128;
}

.form-control.correct {
    background-color: lightgreen;
}

.form-control.outofplace {
    background-color: yellow;
}

.form-control.incorrect {
    background-color: rgba(var(--error-color), 1);
}

.form-control.open-incorrect {
    background-color: rgba(var(--error-color), 0.5);
}

.form-control {
    width: 3em !important;
}

.container {
    width: 22em !important;
}