.form-control.correct {
    background-color: lightgreen;
}

.form-control.outofplace {
    background-color: yellow;
}

.form-control.incorrect {
    background-color: lightcoral;
}

.form-control {
    width: 3em !important;
}